@use "../../variables" as *;
.list-group {
  text-align: center;
  align-items: center;
  font-size: $fontsize-s;
  .list1 {
    color: $white;
    background-color: $orange_zorba;
    font-size: $fontsize-l;
    padding: 20px 200px;
    @media (max-width: $breakpoint-lg) {
      padding: 20px 40px;
    }
  }
  .list2 {
    background-color: $gray_desertStorm;
    .d1 {
      display: grid;
      grid-template-columns: 30fr 160fr;
      grid-template-rows: 42px;
      color: $orange_bistre;
      padding: 24px 191px;
      @media (max-width: $breakpoint-lg) {
        padding: 24px 32px;
      }
      .p2-1 {
        font-size: $fontsize-l;
        text-align: right;
        position: relative;
        top: 29px;
      }
      .p2-2 {
        font-size: $fontsize-xxl;
        text-align: left;
      }
    }
    .p2-3 {
      color: $black;
    }
  }
  .list3 {
    padding: 20px 237.5px;
    @media (max-width: $breakpoint-lg) {
      padding: 20px 78px;
    }
  }
  .list4 {
    padding: 20px 216px;
    @media (max-width: $breakpoint-lg) {
      padding: 20px 56px;
    }
  }
  .list5 {
    padding: 20px 213.5px;
    @media (max-width: $breakpoint-lg) {
      padding: 20px 54px;
    }
  }
  .list6 {
    padding: 20px;
    width: 540px;
    @media (max-width: $breakpoint-lg) {
      width: 221px;
    }
  }
}
