<ul class="list-group">
  <li class="list-group-item plan-name">プランテキスト</li>
  <li class="list-group-item plan-price">
    <div class="price">
      <div class="¥">¥</div>
      <div class="cost">5,000</div>
    </div>
    <div class="plan-span">月額</div>
  </li>
  <li class="list-group-item plan-information">入会金0円</li>
  <li class="list-group-item plam-information">平日：9時～17時</li>
  <li class="list-group-item plan-information">土日祝：利用ナシ</li>
  <li class="list-group-item plan-information">
    コアタイムでの利用に最適なプラン
  </li>
</ul>
