@use "../../variables" as *;
.list-group {
  display: block;
  text-align: center;
  font-size: $fontsize-s;
  .plan-name {
    color: $white;
    background-color: $orange_zorba;
    font-size: $fontsize-l;
    height: 69px;
  }
  .plan-price {
    background-color: $gray_desertStorm;
    height: 142px;
    .price {
      color: $orange_bistre;
    }
    .¥ {
      font-size: $fontsize-l;
      text-align: right;
      position: relative;
      top: 7px;
    }
    .cost {
      font-size: $fontsize-xxl;
      text-align: left;
    }
  }
  .plan-span {
    color: $black;
  }
  .plan-information {
    height: 60px;
    color: $black;
  }
}
