@use "../../variables" as *;
@use "../../atoms/button/button.scss" as *;
.card {
  align-items: center;
  border: none;
  border-radius: 0;
  background-color: $white_smoke;
  .card-img {
    border-radius: 0;
    .card-title {
      position: relative;
      left: 6px;
      bottom: 532px;
      font-size: $fontsize-l;
      font-weight: 700;
      color: $orange_bistre;
    }
    .card-triangle {
      width: 0;
      border-top: solid 150px $white;
      border-right: solid 150px transparent;
      position: relative;
      bottom: 382.2px;
    }
    .card-overflow {
      overflow: hidden;
      width: 100%;
      height: 175.27px;
      @media screen and (max-width: $breakpoint-md) {
        height: 382.41px;
      }
      .card-picture {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @media screen and (min-width: $breakpoint-md) {
          transition: 0.5s;
          &:hover {
            transform: scale(1.2, 1.2);
          }
        }
      }
    }
  }
  .card-text {
    font-size: $fontsize-s;
    margin-top: 32px;
    margin-bottom: 30px;
    line-height: 2.4;
    position: relative;
    bottom: 186px;
  }
  .button {
    position: relative;
    bottom: 186px;
    padding: 17.5px;
  }
}
