@use "../../variables" as *;
@use "../../molecules/message/message.scss" as *;
.top {
  position: relative;
  @media screen and (min-width: $breakpoint-lg) {
    bottom: 60px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    bottom: 90px;
  }
  margin-bottom: 30px;
  .top-title {
    position: relative;
    z-index: 1;
    .top-img {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      @media screen and (max-width: $breakpoint-lg) {
        height: 360px;
      }
    }
    .title-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      writing-mode: vertical-rl;
      font-size: $fontsize-xl;
      color: $white;
      font-family: $fontfamily-mincho;
      @media screen and (max-width: $breakpoint-lg) {
        font-size: $fontsize-l;
      }
    }
  }
  .message {
    color: $white;
    background-color: $black;
    padding: 52px auto 74px;
    @media screen and (max-width: $breakpoint-lg) {
      padding: 32px auto;
    }
  }
}
