@use "../../variables" as *;
@use "../../organisms/news/news.scss" as *;
@use "../../organisms/events/events.scss" as *;
.newsandevents {
  display: flex;
  gap: 40px;
  padding: 56px 16px 94px;
  .news {
    width: 47%;
  }
  .events {
    width: 50%;
  }
  @media screen and (max-width: $breakpoint-md) {
    display: block;
    margin: 0;
    .news {
      width: 100%;
      margin-bottom: 35px;
      .news-and-events-title {
        & > h2 {
          font-size: $fontsize-l;
        }
      }
    }
    .events {
      width: 100%;
    }
  }
}
