<div class="newsandevents">
  <div class="news">
    <div class="news-and-events-title">
      <h2>News<span class="caption">お知らせ</span></h2>
    </div>
    <ul class="list-group news-content">
      <a href="#" class="news-link">
        <li class="list-group-item news-information">
          <p class="news-data">2018.06.20</p>
          ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
        </li>
      </a>
      <a href="#" class="news-link">
        <li class="list-group-item news-information">
          <p class="news-data">2018.06.18</p>
          3種のレイアウトから選択できるテンプレートを固定ページに実装
        </li>
      </a>
      <a href="#" class="news-link">
        <li class="list-group-item news-information">
          <p class="news-data">2018.06.12</p>
          利用者からのご質問をまとめた「FAQ」ページをアップしました。
        </li>
      </a>
      <a href="#" class="news-link">
        <li class="list-group-item news-information">
          <p class="news-data">2018.06.08</p>
          デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
        </li>
      </a>
      <a href="#" class="news-link">
        <li class="list-group-item news-information">
          <p class="news-data">2018.06.02</p>
          テーマのアップデート情報について
        </li>
      </a>
    </ul>
    <div class="news-notice-list">
      <a href="#" class="news-and-events-more"
        >お知らせ一覧<i class="fas fa-chevron-right"></i
      ></a>
    </div>
  </div>
  <div class="news">
    <div class="news-and-events-title">
      <h2>Event<span class="caption">イベント</span></h2>
    </div>
    <ul class="list-group news-content">
      <a href="#" class="news-link">
        <img src="../../../img/events-1.jpg" class="event-img" />
        <li class="list-group-item news-information">
          全ての業種に対応した起業応援セミナーを開催します。
          <p class="news-data">2018.08.23</p>
        </li>
      </a>
      <a href="#" class="news-link">
        <img src="../../../img/events-2.jpg" class="event-img" />
        <li class="list-group-item news-information">
          第3回 Switchクリエイター交流会開催いたします！
          <p class="news-data">2018.08.23</p>
        </li>
      </a>
      <a href="#" class="news-link">
        <img src="../../../img/events-3.jpg" class="event-img" />
        <li class="list-group-item news-information">
          Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
          <p class="news-data">2018.08.23</p>
        </li>
      </a>
    </ul>
    <div class="news-notice-list">
      <a href="#" class="news-and-events-more"
        >イベント一覧<i class="fas fa-chevron-right"></i
      ></a>
    </div>
  </div>
</div>
