@use "../../variables" as *;
@use "../../organisms/news/news.scss" as *;
@use "../../organisms/events/events.scss" as *;
.newsandevents {
  display: flex;
  gap: 40px;
  margin: 56px 16px 94px;
  .news {
    flex: 1;
  }
  .events {
    flex: 1;
    .event-list {
      .event-card {
        .event-content {
          height: 147px;
        }
      }
    }
  }
  @media screen and (max-width: $breakpoint-md) {
    display: block;
    margin: 0;
    .news {
      margin-bottom: 35px;
      .news-and-events-title {
        & > h2 {
          font-size: $fontsize-l;
        }
      }
    }
  }
}
