<div class="header">
  <div class="header-lg">
    <a href="#" class="header-img-link">
      <img class="header-img" src="../../../img/header.png" />
    </a>
    <p class="hamburgar">
      <button
        class="hamburgar-icon"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample1"
        aria-expasnded="false"
        aria-controls="collapseExample1"
      >
        <span class="hamburgar-icon-material"></span>
      </button>
      <button
        class="hamburgar-icon"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample1"
        aria-expasnded="false"
        aria-controls="collapseExample1"
      >
        <span class="hamburgar-icon-material"></span></button
      ><button
        class="hamburgar-icon"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample1"
        aria-expasnded="false"
        aria-controls="collapseExample1"
      >
        <span class="hamburgar-icon-material"></span>
      </button>
    </p>
    <div class="collapse1" id="collapseExample1">
      <ul class="list-group menu">
        <li class="list-group-item menu-item1">
          <a href="#" class="menu-item1-link">HOME</a>
        </li>
        <li class="list-group-item menu-item2">
          <a href="#" class="menu-item2-link">CONSEPT</a>
          <p class="consept">
            <button
              class="consept-icon"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample2"
              aria-eSxpanded="false"
              aria-controls="collapseExample2"
            >
              <span class="consept-icon-material"></span>
            </button>
          </p>
          <div class="collapse2" id="collapseExample2">
            <ul class="list-group consept-menu">
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link">ブログアーカイブ</a>
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link"
                  >お知らせアーカイブ</a
                >
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link"
                  >イベントアーカイブ</a
                >
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link"
                  >インタビューアーカイブ</a
                >
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link">FAQページ</a>
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link"
                  >固定ページ(デフォルト)</a
                >
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link">CONSEPT</a>
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link">SERVICE</a>
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link">FLOOR</a>
              </li>
              <li class="list-group-item consept-menu-item">
                <a href="#" class="consept-menu-item-link">ACCESS</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-group-item menu-item3">
          <a href="#" class="menu-item3-link">SERVICE</a>
        </li>
        <li class="list-group-item menu-item3">
          <a href="#" class="menu-item3-link">FLOOR</a>
        </li>
        <li class="list-group-item menu-item3">
          <a href="#" class="menu-item3-link">INTERVIEW</a>
        </li>
        <li class="list-group-item menu-item3">
          <a href="#" class="menu-item3-link">BLOG</a>
        </li>
        <li class="list-group-item menu-item3">
          <a href="#" class="menu-item3-link">ACCESS</a>
        </li>
        <li class="list-group-item menu-item3">
          <a href="#" class="menu-item3-link">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-xl">
    <a href="#" class="header-img-link">
      <img class="header-img-xl" src="../../../img/header.png" />
    </a>
    <div class="menu-xl">
      <a href="#" class="menu-list-xl1">HOME</a>
      <div class="menu-list-xl2">
        <a href="#" class="menu-list-link-xl2"> CONCEPT </a>
        <ul class="list-group plan-xl">
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl"> ブログアーカイブ</a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">お知らせアーカイブ </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">イベントアーカイブ </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">インタビューアーカイブ </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">FAQページ </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">固定ページ(デフォルト) </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a CONSEPT href="#" class="plan-item-link-xl">CONSEPT </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">SERVICE </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">FLOOR </a>
          </li>
          <li class="list-group-item plan-item-xl">
            <a href="#" class="plan-item-link-xl">ACCESS </a>
          </li>
        </ul>
      </div>
      <a href="#" class="menu-list-xl1">SERVICE</a>
      <a href="#" class="menu-list-xl1">FLOOR</a>
      <a href="#" class="menu-list-xl1">INTERVIEW</a>
      <a href="#" class="menu-list-xl1">BLOG</a>
      <a href="#" class="menu-list-xl1">ACCESS</a>
      <a href="#" class="menu-list-xl3">DOWNLOAD</a>
    </div>
  </div>
</div>
