<div class="header">
  <img class="header-img" src="../../../img/header.png" />
  <p class="hamburgar">
    <button
      class="hamburgar-icon"
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample1"
      aria-expasnded="false"
      aria-controls="collapseExample"
    >
      <span class="hamburgar-icon-material">　</span>
    </button>
    <button
      class="hamburgar-icon"
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample1"
      aria-expasnded="false"
      aria-controls="collapseExample"
    >
      <span class="hamburgar-icon-material">　</span></button
    ><button
      class="hamburgar-icon"
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample1"
      aria-expasnded="false"
      aria-controls="collapseExample"
    >
      <span class="hamburgar-icon-material">　</span>
    </button>
  </p>
  <div class="collapse" id="collapseExample1">
    <ul class="list-group">
      <li class="list-group-item">HOME</li>
      <li class="list-group-item">CONSEPT</li>
      <li class="list-group-item">
        SERVICE
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample2"
            aria-expanded="false"
            aria-controls="collapseExample2"
          >
            <span></span>
          </button>
        </p>
        <div class="collapse" id="collapseExample2">
          <ul class="list-group">
            <li class="list-group-item">ブログアーカイブ</li>
            <li class="list-group-item">お知らせアーカイブ</li>
            <li class="list-group-item">イベントアーカイブ</li>
            <li class="list-group-item">インタビューアーカイブ</li>
            <li class="list-group-item">FAQページ</li>
            <li class="list-group-item">固定ページ(デフォルト)</li>
            <li class="list-group-item">CONSEPT</li>
            <li class="list-group-item">SERVICE</li>
            <li class="list-group-item">FLOOR</li>
            <li class="list-group-item">ACCESS</li>
          </ul>
        </div>
      </li>
      <li class="list-group-item">FLOOR</li>
      <li class="list-group-item">INTERVIEW</li>
      <li class="list-group-item">BLOG</li>
      <li class="list-group-item">ACCESS</li>
      <li class="list-group-item">DOWNLOAD</li>
    </ul>
  </div>
</div>
