<div class="header">
  <div class="header-lg">
    <img class="header-img-lg" src="../../../img/header.png" />
    <p class="hamburgar">
      <button
        class="hamburgar-icon"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample1"
        aria-expasnded="false"
        aria-controls="collapseExample1"
      >
        <span class="hamburgar-icon-material"></span>
      </button>
      <button
        class="hamburgar-icon"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample1"
        aria-expasnded="false"
        aria-controls="collapseExample1"
      >
        <span class="hamburgar-icon-material"></span></button
      ><button
        class="hamburgar-icon"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample1"
        aria-expasnded="false"
        aria-controls="collapseExample1"
      >
        <span class="hamburgar-icon-material"></span>
      </button>
    </p>
    <div class="collapse1" id="collapseExample1">
      <ul class="list-group menu">
        <li class="list-group-item menu-item1">HOME</li>
        <li class="list-group-item menu-item2">
          CONSEPT
          <p class="consept">
            <button
              class="consept-icon"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample2"
              aria-eSxpanded="false"
              aria-controls="collapseExample2"
            >
              <span class="consept-icon-material"></span>
            </button>
          </p>
          <div class="collapse2" id="collapseExample2">
            <ul class="list-group consept-menu">
              <li class="list-group-item consept-menu-item">
                ブログアーカイブ
              </li>
              <li class="list-group-item consept-menu-item">
                お知らせアーカイブ
              </li>
              <li class="list-group-item consept-menu-item">
                イベントアーカイブ
              </li>
              <li class="list-group-item consept-menu-item">
                インタビューアーカイブ
              </li>
              <li class="list-group-item consept-menu-item">FAQページ</li>
              <li class="list-group-item consept-menu-item">
                固定ページ(デフォルト)
              </li>
              <li class="list-group-item consept-menu-item">CONSEPT</li>
              <li class="list-group-item consept-menu-item">SERVICE</li>
              <li class="list-group-item consept-menu-item">FLOOR</li>
              <li class="list-group-item consept-menu-item">ACCESS</li>
            </ul>
          </div>
        </li>
        <li class="list-group-item menu-item3">SERVICE</li>
        <li class="list-group-item menu-item3">FLOOR</li>
        <li class="list-group-item menu-item3">INTERVIEW</li>
        <li class="list-group-item menu-item3">BLOG</li>
        <li class="list-group-item menu-item3">ACCESS</li>
        <li class="list-group-item menu-item3">DOWNLOAD</li>
      </ul>
    </div>
  </div>
  <div class="header-xl">
    <img class="header-img-xl" src="../../../img/header.png" />
    <div class="menu-xl">
      <div class="menu-list-xl1">HOME</div>
      <div class="menu-list-xl2">
        CONCEPT
        <ul class="list-group plan-xl">
          <li class="list-group-item plan-item-xl">ブログアーカイブ</li>
          <li class="list-group-item plan-item-xl">お知らせアーカイブ</li>
          <li class="list-group-item plan-item-xl">イベントアーカイブ</li>
          <li class="list-group-item plan-item-xl">インタビューアーカイブ</li>
          <li class="list-group-item plan-item-xl">FAQページ</li>
          <li class="list-group-item plan-item-xl">固定ページ(デフォルト)</li>
          <li class="list-group-item plan-item-xl">CONSEPT</li>
          <li class="list-group-item plan-item-xl">SERVICE</li>
          <li class="list-group-item plan-item-xl">FLOOR</li>
          <li class="list-group-item plan-item-xl">ACCESS</li>
        </ul>
      </div>
      <div class="menu-list-xl1">SERVICE</div>
      <div class="menu-list-xl1">FLOOR</div>
      <div class="menu-list-xl1">INTERVIEW</div>
      <div class="menu-list-xl1">BLOG</div>
      <div class="menu-list-xl1">ACCESS</div>
      <div class="menu-list-xl3">DOWNLOAD</div>
    </div>
  </div>
</div>
