@use "../../variables" as *;
.header {
  .header-lg {
    height: 60px;
    background-color: $black;
    @media screen and (min-width: $breakpoint-xl) {
      display: none;
    }
    .header-img {
      width: 120px;
      height: 20.56px;
      position: relative;
      left: 16px;
      margin-top: 19.72px;
    }
    .hamburgar {
      display: flex;
      flex-direction: column;
      .hamburgar-icon {
        position: relative;
        bottom: 18px;
        border: none;
        width: 15px;
        height: 3px;
        margin: 0px 16px 3px auto;
        color: $white;
        outline: none;
      }
    }
    .collapse1 {
      .menu {
        position: relative;
        bottom: 14px;
        .menu-item1 {
          padding-bottom: 15px;
          background-color: $black;
          font-size: $fontsize-s;
          border-radius: 0;
          .menu-item1-link {
            color: $white;
            text-decoration: none;
          }
        }
        .menu-item2 {
          padding-bottom: 15px;
          background-color: $black;
          font-size: $fontsize-s;
          border-radius: 0;
          .menu-item2-link {
            color: $white;
            text-decoration: none;
          }
          .consept {
            text-align: right;
            position: relative;
            bottom: 25px;
            .consept-icon {
              width: 26px;
              height: 26px;
              background-color: $black;
              border-radius: 50%;
              border-color: $white;
              .consept-icon-material {
                display: block;
                content: "";
                position: relative;
                top: 1px;
                width: 10px;
                height: 2px;
                background: $white;
              }
              &::after {
                display: block;
                content: "";
                position: relative;
                bottom: 1px;
                width: 10px;
                height: 2px;
                background: $white;
                transform: rotate(90deg);
              }
            }
          }
          .collapse2 {
            .consept-menu {
              position: relative;
              bottom: 28px;
              .consept-menu-item {
                padding-bottom: 15px;
                background-color: $black;
                font-size: $fontsize-s;
                border-radius: 0;
                .consept-menu-item-link {
                  color: $white;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .menu-item3 {
          position: relative;
          bottom: 44px;
          padding-bottom: 15px;
          background-color: $black;
          font-size: $fontsize-s;
          border-radius: 0;
          .menu-item3-link {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  .header-xl {
    height: 90px;
    background-color: $black_50;
    @media screen and (max-width: $breakpoint-xl) {
      display: none;
    }
    .header-img-xl {
      width: 140px;
      height: 23.99px;
      position: relative;
      left: 30px;
      margin-top: 33.01px;
    }
    .menu-xl {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      position: relative;
      bottom: 25px;
      .menu-list-xl1 {
        margin-right: 40px;
        color: $white;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
          color: $gray_nobel;
        }
      }
      .menu-list-xl2 {
        margin-right: 40px;
        .menu-list-link-xl2 {
          color: $white;
          text-decoration: none;
          transition: 0.2s;
        }
        .plan-xl {
          display: none;
        }
        &:hover {
          .menu-list-link-xl2 {
            color: $gray_nobel;
          }
          .plan-xl {
            display: block;
            position: fixed;
            .plan-item-xl {
              position: relative;
              top: 34px;
              right: 20px;
              width: 220px;
              height: 56px;
              background-color: $black;
              border-radius: 0;
              padding: 18px;
              transition: 0.2s;
              .plan-item-link-xl {
                display: flex;
                justify-content: flex-start;
                color: $white;
                text-decoration: none;
              }
              &:hover {
                background-color: $orange_bistre;
              }
            }
          }
        }
      }
      .menu-list-xl3 {
        margin-right: 50px;
        color: $white;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
          color: $gray_nobel;
        }
      }
    }
  }
}
