<div class="footer">
  <div class="footer-content">
    <img src="../../../img/footer.png" class="footer-img" />
    <div class="footer-information">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
      <div class="footer-icon">
        <i class="fa-brands fa-facebook-f footer-facebook"></i>
        <i class="fa-brands fa-twitter footer-twitter"></i>
        <i class="fa-brands fa-instagram footer-instagram"></i>
        <i class="fa-solid fa-wifi footer-wifi"></i>
      </div>
    </div>
  </div>
  <div class="footer-menu">
    <a href="#" class="footer-menu-item1">HOME</a>
    <a href="#" class="footer-menu-item1">CONCEPT</a>
    <a href="#" class="footer-menu-item1">SERVICE</a>
    <a href="#" class="footer-menu-item1">FLLOR</a>
    <a href="#" class="footer-menu-item1">INTERVIEW</a>
    <a href="#" class="footer-menu-item1">BLOG</a>
    <a href="#" class="footer-menu-item2">ACCESS</a>
    <a href="#" class="footer-menu-item3">DOWNLOAD</a>
  </div>
  <div class="footer-end">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </div>
</div>
