body {
  font-family: Roboto, "Noto Sans JP", sans-serif;
}
section {
  margin-bottom: 120px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  width: 200px;
  height: 55px;
  transition: 0.2s;
}
@media screen and (max-width: 992px) {
  .button {
    width: 150px;
    height: 55px;
  }
}
@media screen and (max-width: 768px) {
  .button {
    width: 180px;
    height: 45px;
  }
}
.button:hover {
  background: #442606;
  color: #fff;
  text-decoration: none;
}
.assignment-example-button {
  color: red;
  font-size: 16px;
}
.card {
  align-items: center;
  border: none;
  border-radius: 0;
  background-color: #f5f5f5;
}
.card .card-img {
  border-radius: 0;
  position: relative;
}
.card .card-img .card-title {
  position: absolute;
  top: 0;
  left: 6px;
  font-size: 20px;
  font-weight: 700;
  color: #442606;
}
.card .card-img .card-triangle {
  width: 0;
  border-top: solid 150px #fff;
  border-right: solid 150px transparent;
  position: absolute;
  top: 0;
}
.card .card-img .card-overflow {
  overflow: hidden;
  width: 100%;
}
.card .card-img .card-overflow .card-picture {
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card .card-img .card-overflow .card-picture {
    transition: 0.5s;
  }
  .card .card-img .card-overflow .card-picture:hover {
    transform: scale(1.2, 1.2);
  }
}
.card .card-text {
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 30px;
  line-height: 2.4;
}
.card .button {
  padding: 17.5px 49px;
  margin-bottom: 32px;
}
.message {
  text-align: center;
  padding: 52px 20px;
}
@media screen and (max-width: 992px) {
  .message {
    padding: 32px 20px;
  }
}
.message .title {
  font-family: "Noto Serif JP", serif;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .message .title {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.message .explanation {
  font-size: 14px;
  margin: 0;
  line-height: 2.6;
}
@media screen and (max-width: 992px) {
  .message .explanation {
    line-height: 2;
  }
}
.news-and-events-more {
  align-self: flex-end;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
  display: inline-flex;
  align-items: center;
}
.news-and-events-more:hover {
  color: #999;
  text-decoration: none;
}
.news-and-events-more > i {
  margin-left: 16px;
}
.news-and-events-title > h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .news-and-events-title > h2 {
    font-size: 40px;
  }
}
.news-and-events-title > h2 .caption {
  font-size: 16px;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  font-weight: 400;
  margin-left: 16px;
}
.plan {
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 0;
}
.plan .plan-name {
  color: #fff;
  background-color: #a19283;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 700;
}
.plan:nth-child(even) {
  border: 5px solid #442606;
}
.plan:nth-child(even) .plan-name {
  background-color: #442606;
  padding: 17.5px 0;
}
.plan:nth-child(even) .plan-information2 {
  padding: 17.5px 19px;
}
.plan .plan-price {
  padding: 24px 0;
  background-color: #ece9e6;
}
.plan .plan-price .price {
  color: #442606;
  font-weight: 700;
  font-size: 40px;
}
.plan .plan-price .price::first-letter {
  font-size: 20px;
  padding-right: 4px;
}
.plan .plan-price .plan-span {
  margin-top: 16px;
  color: #000;
}
.plan .plan-information1 {
  color: #000;
  padding: 20px 19px;
}
.plan .plan-information2 {
  padding: 20px 19px;
}
.message {
  text-align: center;
  padding: 52px 20px;
}
@media screen and (max-width: 992px) {
  .message {
    padding: 32px 20px;
  }
}
.message .title {
  font-family: "Noto Serif JP", serif;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .message .title {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.message .explanation {
  font-size: 14px;
  margin: 0;
  line-height: 2.6;
}
@media screen and (max-width: 992px) {
  .message .explanation {
    line-height: 2;
  }
}
.about {
  margin: 40px auto;
}
.about .about-img {
  display: flex;
}
@media screen and (max-width: 768px) {
  .about .about-img {
    flex-wrap: wrap;
  }
}
.about .about-img .about-picture {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .about .about-img .about-picture {
    width: 50%;
  }
}
.about .message {
  padding: 52px 26.5px;
  background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  .about .message {
    padding: 32px 24px;
  }
}
.about .message .title {
  color: #442606;
}
.card {
  align-items: center;
  border: none;
  border-radius: 0;
  background-color: #f5f5f5;
}
.card .card-img {
  border-radius: 0;
  position: relative;
}
.card .card-img .card-title {
  position: absolute;
  top: 0;
  left: 6px;
  font-size: 20px;
  font-weight: 700;
  color: #442606;
}
.card .card-img .card-triangle {
  width: 0;
  border-top: solid 150px #fff;
  border-right: solid 150px transparent;
  position: absolute;
  top: 0;
}
.card .card-img .card-overflow {
  overflow: hidden;
  width: 100%;
}
.card .card-img .card-overflow .card-picture {
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card .card-img .card-overflow .card-picture {
    transition: 0.5s;
  }
  .card .card-img .card-overflow .card-picture:hover {
    transform: scale(1.2, 1.2);
  }
}
.card .card-text {
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 30px;
  line-height: 2.4;
}
.card .button {
  padding: 17.5px 49px;
  margin-bottom: 32px;
}
.cards {
  margin-bottom: 0;
}
.cards .cards-box .card-col {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .cards .cards-box .card-col {
    margin-bottom: 40px;
  }
}
.cards .cards-box .card-col .card {
  height: 100%;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .cards .cards-box .card-col .card {
    height: auto;
  }
}
.cards .cards-box .card-col .card .card-text {
  margin: 0 35px;
}
@media screen and (max-width: 992px) {
  .cards .cards-box .card-col .card .card-text {
    margin: 0 46px;
  }
}
.cards .cards-box .card-col .card .button {
  padding: 0;
}
.events {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (min-width: 992px) {
  .events {
    margin-bottom: 0;
  }
}
.events .event-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .events .event-list {
    margin-bottom: 30px;
  }
}
.events .event-list .event-card > a {
  height: 80px;
  display: flex;
  text-decoration: none;
}
.events .event-list .event-card > a .event-thumbnail {
  display: none;
  width: 207px;
  overflow: hidden;
}
.events .event-list .event-card > a .event-thumbnail > img {
  height: 100%;
  transition: transform 0.5s ease;
}
.events .event-list .event-card > a .event-thumbnail:hover > img {
  transform: scale(1.2);
}
.events .event-list .event-card > a .event-caption {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px 16px;
}
.events .event-list .event-card > a .event-caption > h3 {
  color: #000;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  width: 100%;
}
.events .event-list .event-card > a .event-caption .posted-at {
  color: #999;
  font-size: 12px;
}
@media (min-width: 992px) {
  .events .event-list .event-card > a {
    height: 134px;
  }
  .events .event-list .event-card > a .event-thumbnail {
    display: block;
  }
  .events .event-list .event-card > a .event-caption {
    width: calc(100% - 207px);
    padding: 0 24px;
  }
}
.events .event-list .event-card:not(:first-child) > a .event-caption {
  border-top: none;
}
.footer {
  text-align: center;
}
.footer .footer-content .footer-img {
  width: 150px;
  height: 25.7px;
  margin: 52px auto 20px;
}
@media screen and (max-width: 992px) {
  .footer .footer-content .footer-img {
    margin-top: 32px;
  }
}
.footer .footer-content .footer-information {
  font-size: 14px;
  line-height: 2;
}
.footer .footer-content .footer-information .footer-icon {
  display: flex;
  justify-content: center;
  margin: 20px auto 52px;
}
@media screen and (max-width: 992px) {
  .footer .footer-content .footer-information .footer-icon {
    margin-bottom: 32px;
  }
}
.footer .footer-content .footer-information .footer-icon .footer-facebook {
  width: 7.5px;
  height: 14px;
  margin-right: 17.08px;
  transition: 0.2s;
}
.footer
  .footer-content
  .footer-information
  .footer-icon
  .footer-facebook:hover {
  color: #999;
}
.footer .footer-content .footer-information .footer-icon .footer-twitter {
  width: 14px;
  height: 11.37px;
  margin-right: 14.7px;
  transition: 0.2s;
}
.footer .footer-content .footer-information .footer-icon .footer-twitter:hover {
  color: #999;
}
.footer .footer-content .footer-information .footer-icon .footer-instagram {
  width: 12.26px;
  height: 12.25px;
  margin-right: 15.75px;
  transition: 0.2s;
}
.footer
  .footer-content
  .footer-information
  .footer-icon
  .footer-instagram:hover {
  color: #999;
}
.footer .footer-content .footer-information .footer-icon .footer-wifi {
  width: 12.25px;
  height: 12.25px;
  transition: 0.2s;
}
.footer .footer-content .footer-information .footer-icon .footer-wifi:hover {
  color: #999;
}
.footer .footer-menu {
  background-color: #f5f5f5;
  border: solid #999;
  border-width: 1px 0;
  padding: 16px;
}
.footer .footer-menu .footer-menu-item1 {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #000;
  padding-right: 8px;
  margin-right: 8px;
  transition: 0.2s;
}
.footer .footer-menu .footer-menu-item1:hover {
  color: #442606;
}
.footer .footer-menu .footer-menu-item2 {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #000;
  padding-right: 8px;
  margin-right: 8px;
  transition: 0.2s;
}
.footer .footer-menu .footer-menu-item2:hover {
  color: #442606;
}
.footer .footer-menu .footer-menu-item3 {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
.footer .footer-menu .footer-menu-item3:hover {
  color: #442606;
}
@media screen and (max-width: 992px) {
  .footer .footer-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-menu .footer-menu-item1 {
    width: 50%;
    text-align: left;
    border: none;
    padding-right: 0;
    margin: 0 0 8px 0;
  }
  .footer .footer-menu .footer-menu-item2 {
    width: 50%;
    text-align: left;
    border: none;
    padding-right: 0;
    margin-right: 0;
  }
  .footer .footer-menu .footer-menu-item3 {
    width: 50%;
    text-align: left;
  }
}
.footer .footer-end {
  font-size: 12px;
  color: #fff;
  background-color: #000;
  line-height: 1;
  padding: 16px;
}
.header .header-lg {
  height: 60px;
  background-color: #000;
}
@media screen and (min-width: 1200px) {
  .header .header-lg {
    display: none;
  }
}
.header .header-lg .header-img-link {
  padding: 19.8px 16px;
  position: relative;
  top: 18.5px;
}
.header .header-lg .header-img-link .header-img {
  width: 120px;
  height: 20.56px;
}
.header .header-lg .hamburgar-icon {
  display: flex;
  border: none;
  outline: 0;
  margin: 0 16px 0 auto;
  background-color: #000;
  position: relative;
  bottom: 2px;
}
.header .header-lg .collapse1 {
  position: relative;
  z-index: 2;
  top: 15px;
}
.header .header-lg .collapse1 .menu {
  width: 100%;
}
.header .header-lg .collapse1 .menu .menu-item1-link {
  text-decoration: none;
}
.header .header-lg .collapse1 .menu .menu-item1-link .menu-item1 {
  padding: 15px 16px;
  background-color: #000;
  font-size: 14px;
  color: #fff;
}
.header .header-lg .collapse1 .menu .menu-item2-link {
  text-decoration: none;
}
.header .header-lg .collapse1 .menu .menu-item2-link .menu-item2 {
  padding: 15px 16px;
  background-color: #000;
  font-size: 14px;
  color: #fff;
}
.header .header-lg .collapse1 .menu .consept-icon {
  border: none;
  outline: 0;
  margin: 0 16px 0 auto;
  background-color: #000;
  position: relative;
  bottom: 43px;
}
.header .header-lg .collapse1 .menu .collapse2 {
  position: relative;
  bottom: 29px;
}
.header
  .header-lg
  .collapse1
  .menu
  .collapse2
  .consept-menu
  .consept-menu-item-link {
  text-decoration: none;
}
.header
  .header-lg
  .collapse1
  .menu
  .collapse2
  .consept-menu
  .consept-menu-item-link
  .consept-menu-item {
  padding: 15px 28px;
  background-color: #000;
  font-size: 14px;
  color: #fff;
}
.header .header-lg .collapse1 .menu .menu-item3-link {
  text-decoration: none;
  position: relative;
  bottom: 29px;
}
.header .header-lg .collapse1 .menu .menu-item3-link .menu-item3 {
  padding: 15px 16px;
  background-color: #000;
  font-size: 14px;
  color: #fff;
}
.header .header-xl {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1200px) {
  .header .header-xl {
    display: none;
  }
}
.header .header-xl .header-img-link-xl {
  padding: 34px 30px;
  position: relative;
  top: 33.25px;
}
.header .header-xl .header-img-link-xl .header-img-xl {
  width: 140px;
  height: 23.99px;
}
.header .header-xl .menu-xl {
  height: 90px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 25.5px;
}
.header .header-xl .menu-xl .menu-list-xl1 {
  padding: 34px 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}
.header .header-xl .menu-xl .menu-list-xl1:hover {
  color: #999;
}
.header .header-xl .menu-xl .menu-list-xl2 .menu-list-link-xl2 {
  position: relative;
  top: 34px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  padding: 35px 20px;
}
.header .header-xl .menu-xl .menu-list-xl2 .plan-xl {
  display: none;
}
.header .header-xl .menu-xl .menu-list-xl2:hover .menu-list-link-xl2 {
  color: #999;
}
.header .header-xl .menu-xl .menu-list-xl2:hover .plan-xl {
  display: block;
  position: fixed;
}
.header .header-xl .menu-xl .menu-list-xl2:hover .plan-xl .plan-item-link-xl {
  color: #fff;
  text-decoration: none;
}
.header
  .header-xl
  .menu-xl
  .menu-list-xl2:hover
  .plan-xl
  .plan-item-link-xl
  .plan-item-xl {
  position: relative;
  top: 66px;
  right: 20px;
  width: 220px;
  height: 56px;
  color: #fff;
  background-color: #000;
  padding: 18px;
  transition: 0.2s;
}
.header
  .header-xl
  .menu-xl
  .menu-list-xl2:hover
  .plan-xl
  .plan-item-link-xl
  .plan-item-xl:hover {
  background-color: #442606;
}
.header .header-xl .menu-xl .menu-list-xl3 {
  padding: 35px 20px;
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}
.header .header-xl .menu-xl .menu-list-xl3:hover {
  color: #999;
}
.news-and-events-title > h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .news-and-events-title > h2 {
    font-size: 40px;
  }
}
.news-and-events-title > h2 .caption {
  font-size: 16px;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  font-weight: 400;
  margin-left: 16px;
}
.news-and-events-more {
  align-self: flex-end;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
  display: inline-flex;
  align-items: center;
}
.news-and-events-more:hover {
  color: #999;
  text-decoration: none;
}
.news-and-events-more > i {
  margin-left: 16px;
}
.news .news-and-events-title > h2 {
  font-size: 40px;
}
.news .news-content {
  margin-bottom: 30px;
  border-radius: 0;
}
.news .news-content .news-link:hover {
  text-decoration: none;
}
.news .news-content .news-link .news-information {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  padding: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.2s;
  border-width: 0;
  outline: 1px solid #ddd;
}
.news .news-content .news-link .news-information:hover {
  color: #442606;
}
.news .news-content .news-link .news-information .news-data {
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1;
}
.news .news-notice-list {
  text-align: right;
}
.message {
  text-align: center;
  padding: 52px 20px;
}
@media screen and (max-width: 992px) {
  .message {
    padding: 32px 20px;
  }
}
.message .title {
  font-family: "Noto Serif JP", serif;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .message .title {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.message .explanation {
  font-size: 14px;
  margin: 0;
  line-height: 2.6;
}
@media screen and (max-width: 992px) {
  .message .explanation {
    line-height: 2;
  }
}
.organisms-plan {
  padding: 56px 20px 0;
}
.organisms-plan .message {
  padding: 0 0 32px;
}
.organisms-plan .message .title {
  color: #442606;
  margin-bottom: 6px;
}
.organisms-plan .plan-list {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .organisms-plan .plan-list {
    display: block;
  }
}
.organisms-plan .plan-list .plan {
  display: inline-block;
  flex: 1;
  width: auto;
}
@media screen and (max-width: 768px) {
  .organisms-plan .plan-list .plan {
    width: 100%;
    margin: 0 0 24px;
  }
}
.organisms-plan .button-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 100px;
}
@media screen and (max-width: 768px) {
  .organisms-plan .button-wrapper {
    margin: 0;
  }
}
.message {
  text-align: center;
  padding: 52px 20px;
}
@media screen and (max-width: 992px) {
  .message {
    padding: 32px 20px;
  }
}
.message .title {
  font-family: "Noto Serif JP", serif;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .message .title {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.message .explanation {
  font-size: 14px;
  margin: 0;
  line-height: 2.6;
}
@media screen and (max-width: 992px) {
  .message .explanation {
    line-height: 2;
  }
}
.top {
  margin-bottom: 30px;
}
.top .top-title {
  position: relative;
  z-index: 1;
}
.top .top-title .top-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .top .top-title .top-img {
    height: 360px;
  }
}
.top .top-title .title-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  writing-mode: vertical-rl;
  font-size: 36px;
  color: #fff;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 992px) {
  .top .top-title .title-name {
    font-size: 20px;
  }
}
.top .message {
  color: #fff;
  background-color: #000;
  padding: 52px auto 74px;
}
@media screen and (max-width: 992px) {
  .top .message {
    padding: 32px auto;
  }
}
.news-and-events-title > h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .news-and-events-title > h2 {
    font-size: 40px;
  }
}
.news-and-events-title > h2 .caption {
  font-size: 16px;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  font-weight: 400;
  margin-left: 16px;
}
.news-and-events-more {
  align-self: flex-end;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
  display: inline-flex;
  align-items: center;
}
.news-and-events-more:hover {
  color: #999;
  text-decoration: none;
}
.news-and-events-more > i {
  margin-left: 16px;
}
.news .news-and-events-title > h2 {
  font-size: 40px;
}
.news .news-content {
  margin-bottom: 30px;
  border-radius: 0;
}
.news .news-content .news-link:hover {
  text-decoration: none;
}
.news .news-content .news-link .news-information {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  padding: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.2s;
  border-width: 0;
  outline: 1px solid #ddd;
}
.news .news-content .news-link .news-information:hover {
  color: #442606;
}
.news .news-content .news-link .news-information .news-data {
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1;
}
.news .news-notice-list {
  text-align: right;
}
.events {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (min-width: 992px) {
  .events {
    margin-bottom: 0;
  }
}
.events .event-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .events .event-list {
    margin-bottom: 30px;
  }
}
.events .event-list .event-card > a {
  height: 80px;
  display: flex;
  text-decoration: none;
}
.events .event-list .event-card > a .event-thumbnail {
  display: none;
  width: 207px;
  overflow: hidden;
}
.events .event-list .event-card > a .event-thumbnail > img {
  height: 100%;
  transition: transform 0.5s ease;
}
.events .event-list .event-card > a .event-thumbnail:hover > img {
  transform: scale(1.2);
}
.events .event-list .event-card > a .event-caption {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px 16px;
}
.events .event-list .event-card > a .event-caption > h3 {
  color: #000;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  width: 100%;
}
.events .event-list .event-card > a .event-caption .posted-at {
  color: #999;
  font-size: 12px;
}
@media (min-width: 992px) {
  .events .event-list .event-card > a {
    height: 134px;
  }
  .events .event-list .event-card > a .event-thumbnail {
    display: block;
  }
  .events .event-list .event-card > a .event-caption {
    width: calc(100% - 207px);
    padding: 0 24px;
  }
}
.events .event-list .event-card:not(:first-child) > a .event-caption {
  border-top: none;
}
.news-and-events {
  display: flex;
  padding: 56px 20px 92px;
  background-color: #f5f5f5;
}
.news-and-events .news {
  width: 50%;
  padding-right: 20px;
}
.news-and-events .events {
  width: 50%;
  padding-left: 20px;
}
.news-and-events .events .event-list .event-card .event-content {
  height: 147px;
}
@media screen and (max-width: 992px) {
  .news-and-events {
    flex-direction: column;
    padding: 56px 20px 94px;
  }
  .news-and-events .news {
    width: 100%;
    padding-right: 0;
  }
  .news-and-events .news .news-and-events-title > h2 {
    font-size: 20px;
  }
  .news-and-events .events {
    width: 100%;
    padding-left: 0;
    margin-top: 35px;
  }
  .news-and-events .events .event-list .event-card .event-content {
    height: auto;
  }
}
