@use "../../variables" as *;
.message {
  text-align: center;
  font-family: "Noto Sans jp";
  .title {
    @media screen and (min-width: $breakpoint-lg) {
      height: 54px;
      margin: 36px;
      font-size: $fontsize-xl;
    }
    @media screen and (max-width: $breakpoint-lg) {
      height: 30px;
      margin: 28px;
      font-size: $fontsize-l;
    }
  }
  .explanation {
    @media screen and (min-width: $breakpoint-lg) {
      height: 36px;
      font-size: $fontsize-s;
      line-height: 36px;
      margin-bottom: 36px;
    }
    @media screen and (max-width: $breakpoint-lg) {
      height: 28px;
      font-size: $fontsize-s;
      line-height: 28px;
      margin-bottom: 28px;
    }
  }
}
